.about_container {
  display: grid;
  grid-template-columns: 35% 50%;
  gap: 15%;
}
.about_me {
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(45deg, black, rgb(211, 199, 199), black);
  display: grid;
  place-items: center;
}
.about_me_img {
  border-radius: 15px;
  overflow: hidden;
  transition: var(--transition);
}

.about_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.about_card {
  background: black;
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
  text-align: center;
  transition: var(--transition);
}
.about_card:hover {
  background: transparent;
  border-color: white;
  color: #ffffff;
}

.about_icon {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}
.about_card h5 {
  font-size: 15px;
}
.about_card small {
  font-size: 15px;
  color: white;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .about_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }
  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
