header {
  height: 100vh;
  padding-top: 2rem;
  overflow: hidden;
}
.header_container {
  text-align: center;
  height: 100%;
  position: relative;
}
.cta {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.header_socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  left: 185px;
  top: 450px;
}
.header_socials::after {
  content: "";
  width: 3px;
  height: 50px;
  background-color: var(--color-primary);
}

.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: min-content;
  margin-top: 1rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 2rem 1.5rem 1.5rem 1.5rem;
}
.scroll_down {
  position: absolute;
  right: 8rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-size: 17px;
}

/* Media Queries */

@media screen and (max-width: 1024px) {
  header {
    height: 108vh;
  }
  .me {
    margin-top: 70px;
  }
  .cta {
    margin-top: 25px;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header_socials,
  .scroll_down {
    display: none;
  }
}
